<!DOCTYPE html>
<!-- 
  HTML Driver for the CacheSimulator
  Arthur Wuterich
  4/23/2015
-->
<html>
<head>
  <!-- jQuery and Angular -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <!-- Cache Simulator -->
  <script type="text/javascript" src="src/js/TieredCache.js"></script>
  <script type="text/javascript" src="src/js/CacheSimulator.js"></script>

  <!-- Cache Visualizer through AngularJS -->
  <script type="text/javascript" src="src/js/main.js"></script>
  <script type="text/javascript" src="src/js/controllers.js"></script>
  <link rel="stylesheet" type="text/css" href="src/css/main.css">
</head>
<body>
  <div ng-app="cacheVisualizer" ng-controller="main" class="row">
    <div id="controls" class="col-md-4">
      <h2>Address Sequence</h2>
      <input type="text" ng-model="addresses" class="form-control" ng-disabled="repeatHandle!=0" />
      <hr>
      <input type="button" ng-click="processAddress()" ng-disabled="repeatHandle!=0" value="Process Address" class="form-control" />
      <h3>Repeat Speed</h3>
      <input type="range" ng-model="repeatSpeed" name="Repeat Speed" min="1" max="1000">
      <input type="button" ng-click="repeatAddressSequence()" value="{{repeatHandle==0?'Repeat Addresses':'Stop Repeating Addresses'}}" class="form-control" />
      <hr>
      <div class="memoryOverview">
        <table>
          <tr>
            <td>
              <h1>Memory Overview</h1>
            </td>
            <td>
              <input type="button" ng-click="initCache()" value="Add New Cache to Stack" class="btn btn-default" />
              <input type="button" ng-click="clearCache()" value="Update and Clear Cache" class="btn btn-default" />
            </td>
          </tr>
        </table>
        <div class="memoryOverviewLevel" ng-repeat="cacheSimulator in tieredCache.cacheLevels">
          <h2>L{{$index+1}} Cache</h2> 
          <div class="cacheControls">
            <button ng-click="removeCacheLevel($index)" class="btn btn-default">Remove</button>
          </div>
          <table class="table">
            <thead>
              <th>Block Size</th>
              <th>Cache Size</th>
              <th>Set Size</th>
              <th>Access Time(ms)</th>
              <th>Hit Rate</th>
            </thead>
            <tbody>
              <tr>
                <td><input type="text" class="form-control" ng-model="tieredCache.cacheLevels[$index].external.blockSize"></td>
                <td><input type="text" class="form-control" ng-model="tieredCache.cacheLevels[$index].external.cacheSize"></td>
                <td><input type="text" class="form-control" ng-model="tieredCache.cacheLevels[$index].external.setSize"></td>
                <td><input type="text" class="form-control" ng-model="tieredCache.cacheLevels[$index].external.accessTime"></td>
                <td>{{cacheSimulator.formatHitRate()}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="memoryOverviewLevel">
          <h2>Main Memory</h2>
          <div class="mainMemoryControls">
            <table class="table">
              <thead>
                <th>Access Time(ms)</th>
              </thead>
              <tbody>
                <tr>
                  <td><input type="text" class="form-control" ng-model="tieredCache.memoryAccessTime"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div id="visualization" class="col-md-8"> 
      <!-- View for each CacheSimulator -->
      <div class="cacheSimulator" ng-repeat="cacheSimulator in tieredCache.cacheLevels" id="cacheLevel{{$index}}">
        <h2 class="cacheLevel">L{{$index+1}} Cache({{cacheDescription($index)}})</h2>

        <!-- Set associative and Fully Associative -->
        <table ng-hide="cacheSimulator.setSize==1" class="table">
          <thead>
            <th>Set ID</th>
            <th>Blocks</th>
          </thead>
          <tbody>
            <tr ng-repeat="set in cacheSimulator.sets">
              <td>{{set.index}}</td>
              <td>
                <table class="table table-striped">
                  <thead>
                    <th class="id">Block ID</th>
                    <th class="tag">tag</th>
                    <th class="data">data</th>
                    <th class="lru">LRU</th>
                    <th class="valid">valid</th>
                  </thead>
                  <tbody>
                    <tr ng-repeat="block in set.blocks">
                      <td>{{block.index}}</td>
                      <td>{{block.tag}}</td>
                      <td>{{block.data}}</td>
                      <td>{{block.lru}}</td>
                      <td>{{block.valid}}</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Direct Mapped -->
        <table ng-hide="cacheSimulator.setSize!=1" class="table table-striped">
          <thead>
            <th>Block ID</th>
            <th>Tag</th>
            <th>Data</th>
            <th>Valid</th>
          </thead>
          <tbody>
            <tr ng-repeat="set in cacheSimulator.sets">
              <td>{{set.index}}</td>
              <td>{{set.blocks[0].tag}}</td>
              <td>{{set.blocks[0].data}}</td>
              <td>{{set.blocks[0].valid}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>
</html>
